# Source files
src/
tsconfig.json
tsup.config.ts

# Local config & Secrets
.env
.env.*
*.tgz

# Dependencies & Debug
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
